/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.button {
	-fx-font-size:0.0 30px;
	-fx-background-color: rgba(0, 150, 0, 80);
	-fx-text-fill: rgba(0, 0, 200, 80);
	-fx-padding: 6 6 6 6;
	-fx-border-radius: 8;
	-fx-font-weight: bold;
}

.root	{
	-fx-font-size:0.0 30px;
	-fx-background-color: rgba(127, 255, 255, 80);
	-fx-text-fill: Black;
	-fx-padding: 6 6 6 6;
	-fx-border-radius: 8;
	-fx-font-weight: bold;
}

.label	{
	-fx-text-fill: Black;
}